body{
    display: flex;
    margin: 0;
    background-image: linear-gradient(to bottom, black, #121212);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    overscroll-behavior: none;
}

/*left side stop-watch screen.*/
#stop-watch-screen{
    width: 75vw;
    height: 100vh;
}
#stop-watch-container{
    width: 75vw;
    height: 100vh;
    position: fixed;
}
#timer-screen{
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Geneva, monospace;
    font-size: 100px;
    color: whitesmoke;
}
#timer-screen div:nth-child(2n-1){
    background-color: #141414;
    border: solid 1px gray;
    border-radius: 20px;
}

#stop-watch-screen #buttons{
    position: relative;
    top: 45%;
    display: flex;
    justify-content: space-around;
}
#stop-watch-screen #buttons div{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

#lap-reset-button{
    border: solid 1px rgba(103,103,103,0.96);
}
/*"#lap-reset-button div" contains the text of the lap/reset button.*/
#lap-reset-button div{
    position: absolute;
    top: 36%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    text-shadow: 0 0 50px whitesmoke;
}

#start-button{
    border: solid 1px darkgreen;
}
/*"#start-button div" contains the text of the start-button.*/
#start-button div{
    position: absolute;
    top: 36%;
    text-align: center;
    color: springgreen;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    text-shadow: 0 0 50px springgreen;
}


/*right-side-lap-record-screen*/
#lap-screen{
    width: 25vw;
    border-left: solid 1px gray;
    color: whitesmoke;
}
#lap-screen div{
    width: 23vw;
    height: 35px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    color: whitesmoke;
    text-shadow: 0 0 50px whitesmoke;
    text-align: center;
    border-bottom: solid 1px gray;
    margin-top: 25px;
}
#lap-screen div .lap-text{
    font-family: "Roboto Light", sans-serif;
    position: absolute;
    left: 5px;
}
#lap-screen div .lap-time{
    position: absolute;
    right: 5px;
    font-family: Geneva, monospace;
}
