#contact{
    height: 100vh;
    width: 100vw;
}


#contact-hexagonal-rectangle {
    width: 130px;
}
#contact-hr-left-line{
    width: calc(90vw - 80vw);
}
#contact-hr-right-line{
    width: calc(90vw - 10vw - 130px);
}


/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #contact-hexagonal-rectangle {width: 90px;}
    #contact-hr-left-line{width: calc(45vw - 45px);}
    #contact-hr-right-line{width: calc(45vw - 45px);}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #contact-hexagonal-rectangle {width: 100px;}
    #contact-hr-left-line{width: calc(90vw - 80vw);}
    #contact-hr-right-line{width: calc(90vw - 10vw - 100px);}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #contact-hexagonal-rectangle {width: 110px;}
    #contact-hr-left-line{width: calc(90vw - 80vw);}
    #contact-hr-right-line{width: calc(90vw - 10vw - 110px);}
}

/* All small screens (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
}