@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

#home{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    animation-delay: 1.2s;
}

#home-heading p{
    font-size: 24px;
    color: whitesmoke;
}

#home-heading-main{
    animation-delay: 1.45s;
}

#home-heading-main h2 {
    margin: 0;
    font-size: 7em;
}

#home-heading-main h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #a77bf3;
}

#home-heading-main h2:nth-child(2) {
    transform: translateY(-100%);
    animation: wave 4s ease-in-out infinite;
    background-image: linear-gradient(#a77bf3, #424242);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

#home-heading a{
    margin-top: 5vh;
    animation-delay: 1.65s;
}

#home-heading i{
    padding: 5px;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    border-radius: 50%;
}

@keyframes wave {
    0%,
    100% {clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);}
    50% {clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);}
}

.visible-anim{
    visibility: hidden;
    opacity: 0;
    animation: visible 0.5s ease-in forwards;
}
@keyframes visible {
    0%{
        visibility: visible;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}


/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #home {height: 300px;}
    #home-heading-main h2 {font-size: 2.75em;}
    #home-heading p{font-size: 12px;}
    #home-heading i{display: none;}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #home {height: 350px;}
    #home-heading-main h2 {font-size: 3.75em;}
    #home-heading p{font-size: 16px;}
    #home-heading i{display: none;}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #home-heading-main h2 {font-size: 5em;}
    #home-heading p{font-size: 20px;}
}

/* All devices between (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .visible-anim{
        animation: none;
        opacity: 1;
        visibility: visible;
    }
}
