*{
    box-sizing: border-box;
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: black;
    background-image: linear-gradient(to bottom right, #000414, #19001f, #000f0e);
    /*background-image: linear-gradient(to bottom right, #d6e9ff, #fed6ff, #d6ffec);*/
    scroll-behavior: smooth;
}

p{
    font-family: 'Changa', sans-serif;
}


/*buttons*/
.button{
    background-color: #363636;
    opacity: 0.5;
    border: solid 1px gray;
    box-shadow: inset -2px -2px 10px #424242;
    border-radius: 5px;
}
.button:hover {
    opacity: 0.75;
    transition: 0.3s opacity;
}


/*project-heading*/
.section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hexagonal-rectangle {
    height: 32px;
    background-color: rgba(54, 54, 54, 0.5);
    position: relative;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hexagonal-rectangle p{
    font-size: 22px;
    color: whitesmoke;
    opacity: 0.5;
}
.hr-line{
    height: 1px;
    border: solid 1px rgba(54, 54, 54, 0.5);
}

/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .hexagonal-rectangle{height: 26px;}
    .hexagonal-rectangle p{font-size: 16px;}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .hexagonal-rectangle{height: 28px;}
    .hexagonal-rectangle p{font-size: 18px;}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hexagonal-rectangle{height: 30px;}
    .hexagonal-rectangle p{font-size: 20px;}
}