*{
    box-sizing: border-box;
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: black;
    background-image: linear-gradient(to bottom right, #000414, #19001f, #000f0e);
    /*background-image: linear-gradient(to bottom right, #d6e9ff, #fed6ff, #d6ffec);*/
    scroll-behavior: smooth;
}

.button{
    background-color: #363636;
    opacity: 0.5;
    border: solid 1px gray;
    box-shadow: inset -2px -2px 10px #424242;
    border-radius: 5px;
}
.button:hover {
    opacity: 0.75;
    transition: 0.3s opacity;
}

p{
    font-family: 'Changa', sans-serif;
}