#projects{
    width: 100vw;
}

/*project section heading*/
#p-hr{
    width: 130px;
}
#p-hr-left-line{
    width: calc(90vw - 80vw);
}
#p-hr-right-line{
    width: calc(90vw - 10vw - 130px);
}

/*project list container*/
#projects-container{
    flex-direction: column;
}
.p-controls{
    width: 90vw;
    height: 40px;
    margin: 30px 0 15px 0;
    justify-content: space-between;
}
.p-heading-container{
    justify-content: space-between;
}
.p-heading{
    font-size: 22px;
    color: whitesmoke;
}
.p-heading-container p{
    margin-left: 20px;
}
.p-button{
    border-radius: 50%;
}

/*Stellar  Creations*/
#p-stellar-creations{
    width: 90vw;
    overflow: hidden;
}
#p-sc-container{
    width: 740px;
    min-width: 740px;
    height: 200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
}
#p-sc-container img{
    height: 200px;
    border-radius: 10px;
}
#p-sc-content{
    width: calc(700px - 356px);
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
}
#p-sc-media{
    width: 40px;
    height: 200px;
}
.p-split-top{
    display: none;
}
#p-c-title, #p-c-about, .p-split-top, .p-split, #p-c-tag{
    width: calc(700px - 20px - 356px);
}
#p-c-title{
    font-size: 25px;
    color: whitesmoke;
}
#p-c-about{
    font-size: 14px;
    text-align: justify;
}
#p-c-tag{
    display: flex;
}
/*Tech Toolbox*/
#p-tech-toolbox{
    width: 90vw;
    display: flex;
}
/*Virtual Adventures*/
#p-virtual-adventures{
    width: 90vw;
    display: flex;
    margin-bottom: 80px;
}
/*project container structure css*/
.p-list{
    overflow: hidden;
}
.p-container{
    width: 400px;
    min-width: 400px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
    background-color: mediumpurple;
    overflow: hidden;
}
.p-container img{
    box-sizing: border-box;
    height: 150px;
    border-radius: 10px;
}
.p-container .p-content{
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    opacity: 0.2;
}
.p-container .p-media{
    width: 400px;
    height: 50px;
    background-color: whitesmoke;
    opacity: 0.5;
}



/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #p-hr {width: 100px;}
    #p-hr-left-line{width: calc(45vw - 50px);}
    #p-hr-right-line{width: calc(45vw - 50px);}
    .p-heading{font-size: 18px;}
    .p-heading-container p{margin-left: 10px;}
    #p-sc-container {width: 320px; min-width: 320px; height: 200px; flex-wrap: wrap;}
    #p-sc-container img{height: 100px;}
    #p-sc-content{width: 320px; height: 100px; order: 1;}
    #p-sc-media{width: calc(320px - 178px); height: 100px;}
    #p-virtual-adventures{margin-bottom: 60px;}
    .p-container{width: 230px; min-width: 230px; height: 125px;}
    .p-container img{height: 85px;}
    .p-container .p-content{width: calc(230px - 114px); height: 85px;}
    .p-container .p-media{height: 40px; width: 230px;}
    .p-prev, .p-next{display: none;}
    .p-heading-container p{margin-left: 0;}
    .p-controls{margin: 20px 0 10px 0;}
    #p-c-title, #p-c-about, .p-split, #p-c-tag{width: calc(320px - 15px);}
    #p-c-title{font-size: 23px;}
    .p-split{display: none;}
    .p-split-top{display: block;}
    #p-c-about{display: none;}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #p-hr {width: 110px;}
    #p-hr-left-line{width: calc(90vw - 80vw);}
    #p-hr-right-line{width: calc(90vw - 10vw - 110px);}
    .p-heading{font-size: 20px;}
    .p-heading-container p{margin-left: 15px;}
    #p-virtual-adventures{margin-bottom: 70px;}
    .p-container{width: 270px; min-width: 270px; height: 150px;}
    .p-container img{height: 100px;}
    .p-container .p-content{width: calc(270px - 134px); height: 100px;}
    .p-container .p-media{width: 270px;}
    .p-prev, .p-next{display: none;}
    .p-heading-container p{margin-left: 0;}
    .p-controls{margin: 20px 0 10px 0;}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #p-hr {width: 120px;}
    #p-hr-left-line{width: calc(90vw - 80vw);}
    #p-hr-right-line{width: calc(90vw - 10vw - 120px);}
    .p-heading{font-size: 20px;}
    .p-container{width: 335px; min-width: 335px; height: 175px;}
    .p-container img{height: 125px;}
    .p-container .p-content{width: calc(335px - 167px); height: 125px;}
    .p-container .p-media{width: 335px;}
}

/* Common for iPads, Tablets & Small screens, laptops*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #p-sc-container {width: 580px; min-width: 580px; height: 150px;}
    #p-sc-container img{height: 150px;}
    #p-sc-content{width: calc(580px - 40px - 267px); height: 150px;}
    #p-sc-media{height: 150px;}
    #p-c-title, #p-c-about, .p-split, #p-c-tag{width: calc(540px - 20px - 267px);}
    #p-c-title{font-size: 19px;}
    #p-c-about{font-size: 12px; line-height: 18px}
}

/* All small screens (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
}