#projects{
    width: 100vw;
}

/*project section heading*/
#p-hr{
    width: 130px;
}
#p-hr-left-line{
    width: calc(90vw - 80vw);
}
#p-hr-right-line{
    width: calc(90vw - 10vw - 130px);
}

/*project list container*/
#projects-container{
    flex-direction: column;
}
.p-list-heading{
    width: 90vw;
    height: 40px;
    margin: 20px 0 5px 0;
    justify-content: space-between;
}
.p-list-heading p{
    font-size: 22px;
    color: whitesmoke;
}
.p-link{
    margin: 10px 5px 10px 5px;
    background-color: unset;
    border: none;
    box-shadow: none;
    color: whitesmoke;
}

/*Stellar  Creations*/
#p-stellar-creations{
    width: 90vw;
    overflow: hidden;
}
#p-sc-container{
    width: 740px;
    min-width: 740px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}
#p-sc-image{
    overflow: hidden;
}
#p-sc-image, #p-sc-image img{
    width: 350px;
    background-color: whitesmoke;
}
#p-sc-image img{
    transform: translateY(-10%);
}
#p-sc-media{
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
}
#p-sc-content{
    width: 350px;
    flex-direction: column;
    justify-content: space-around;
}
#p-sc-container,
#p-sc-image,
#p-sc-media,
#p-sc-content{
    height: 200px;
}
#p-sc-title{
    font-size: 25px;
    color: whitesmoke;
}
#p-sc-about{
    font-size: 14px;
    text-align: justify;
}
#p-sc-tags{
    display: flex;
}
#p-sc-title, #p-sc-about, #p-sc-tags, #p-sc-content .hr-line{
    width: 95%;
}


/*Tech Toolbox*/
#p-tech-toolbox{
    width: 90vw;
    display: flex;
}
/*Virtual Adventures*/
#p-virtual-adventures{
    width: 90vw;
    display: flex;
    margin-bottom: 80px;
}
/*project container structure css*/
.p-list{
    overflow: hidden;
}
.p-container{
    width: 380px;
    min-width: 380px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 192, 203, 0.1);
}
.p-image, .p-image img{
    width: 180px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.p-content{
    flex-direction: column;
    justify-content: space-between;
}
.p-media{
    height: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.p-content, .p-media{
    width: 200px;
}
.p-container,
.p-image,
.p-content {
    height: 180px;
}
.p-title{
    font-size: 25px;
    color: whitesmoke;
}
.p-about{
    font-size: 14px;
}
.p-tags{
    display: flex;
    transform: translateY(-10%);
}
.p-title, .p-about, .p-tags, .p-container .hr-line{
    width: 90%;
}


/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #p-hr {width: 100px;}
    #p-hr-left-line{width: calc(45vw - 50px);}
    #p-hr-right-line{width: calc(45vw - 50px);}
    .p-list-heading p{font-size: 18px;}
    #p-sc-container {height: 300px;}
    #p-sc-image {height: 100px;}
    #p-sc-image img {width: 90vw; transform: translateY(-20%);}
    #p-sc-content{height: 200px;}
    #p-sc-container, #p-sc-image, #p-sc-content {width: 90vw; min-width: 90vw;}
    #p-sc-media{display: none}
    #p-sc-title{font-size: 23px;}
    .p-qr{display: none}
    #p-virtual-adventures{margin-bottom: 60px;}
    .p-container{width: 300px; min-width: 300px;}
    .p-image, .p-image img {width: 140px;}
    .p-content, .p-media{width: 160px}
    .p-container, .p-image, .p-content {height: 140px;}
    .p-title{font-size: 19px;}
    .p-about{font-size: 11px;}
    .p-tag{height: 20px; font-size: 9px;}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #p-hr {width: 110px;}
    #p-hr-left-line{width: calc(90vw - 80vw);}
    #p-hr-right-line{width: calc(90vw - 10vw - 110px);}
    .p-list-heading p{font-size: 20px;}
    #p-virtual-adventures{margin-bottom: 70px;}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #p-hr {width: 120px;}
    #p-hr-left-line{width: calc(90vw - 80vw);}
    #p-hr-right-line{width: calc(90vw - 10vw - 120px);}
    .p-list-heading p{font-size: 20px;}
}

/* Common for iPads, Tablets & Small screens, laptops*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #p-sc-container {width: 590px; min-width: 590px;}
    #p-sc-image, #p-sc-image img {width: 275px;}
    #p-sc-content{width: 275px;}
    #p-sc-container, #p-sc-image, #p-sc-media, #p-sc-content{height: 150px;}
    #p-sc-title{font-size: 20px;}
    #p-sc-about{font-size: 12px; line-height: 18px}
    .p-container{width: 320px; min-width: 320px;}
    .p-image, .p-image img {width: 150px;}
    .p-content, .p-media {width: 170px}
    .p-container, .p-image, .p-content {height: 150px;}
    .p-title{font-size: 19px;}
    .p-about{font-size: 11px;}
    .p-tag{height: 20px; font-size: 9px;}
}

/* All small screens (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
}