#projects{
    height: 100vh;
    width: 100vw;
}


#projects-hexagonal-rectangle {
    width: 140px;
}
#projects-hr-left-line{
    width: calc(90vw - 80vw);
}
#projects-hr-right-line{
    width: calc(90vw - 10vw - 140px);
}


/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #projects-hexagonal-rectangle {width: 100px;}
    #projects-hr-left-line{width: calc(45vw - 50px);}
    #projects-hr-right-line{width: calc(45vw - 50px);}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #projects-hexagonal-rectangle {width: 110px;}
    #projects-hr-left-line{width: calc(90vw - 80vw);}
    #projects-hr-right-line{width: calc(90vw - 10vw - 110px);}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #projects-hexagonal-rectangle {width: 120px;}
    #projects-hr-left-line{width: calc(90vw - 80vw);}
    #projects-hr-right-line{width: calc(90vw - 10vw - 120px);}
}

/* All small screens (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
}