#skills{
    height: 100vh;
    width: 100vw;
}


#skills-hexagonal-rectangle {
    width: 100px;
}
#skills-hr-left-line{
    width: calc(90vw - 80vw);
}
#skills-hr-right-line{
    width: calc(90vw - 10vw - 100px);
}


/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #skills-hexagonal-rectangle {width: 70px;}
    #skills-hr-left-line{width: calc(45vw - 35px);}
    #skills-hr-right-line{width: calc(45vw - 35px);}
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #skills-hexagonal-rectangle {width: 80px;}
    #skills-hr-left-line{width: calc(90vw - 80vw);}
    #skills-hr-right-line{width: calc(90vw - 10vw - 80px);}
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #skills-hexagonal-rectangle {width: 90px;}
    #skills-hr-left-line{width: calc(90vw - 80vw);}
    #skills-hr-right-line{width: calc(90vw - 10vw - 90px);}
}

/* All small screens (320px - 1024px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
}